.image-gallery-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

/* @media screen and (max-width: 281px) {
  .image-gallery-container {
    justify-content: center;
  }
} */
