.img-left {
  float: left;
  margin: 10px 10px 0px 0px;
}

.post {
  margin-bottom: 20px;
}
input {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.tag {
  display: inline-block;
  cursor: pointer;

  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 13px;
  color: #333333;
  letter-spacing: 0px;
  line-height: 17px;

  background-color: #e4e6e8;
  border-radius: 8px;
  padding: 2px 20px 2px 20px;
}

.post-title {
  display: inline-block;
  /* Title not split when down size */

  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0px;
  line-height: 21px;
}

.post-content {
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 13px;
  color: #333333;
  letter-spacing: 0px;
  line-height: 17px;
}
.post-time {
  margin-right: 10px;

  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 12px;
  color: #444444;
  letter-spacing: 0px;
  line-height: 19px;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 2px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.button1:hover {
  background-color: #4caf50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.button2:hover {
  background-color: #008cba;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}