@import "../../../common/scss/_Common.module.scss";

.searchBox {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: white;
  background-image: url("../../../assets/Images/search.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 35px;
}

.searchBox:hover {
  border-color: #0074bd;
}

.howdoi {
  // width: 388px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1023px) {
  .howdoi {
    width: 100%;
  }
}
