.grid-container-document {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px 5px;
  padding: 20px;
  margin-top: -40px;
  /* background-color: white; */
}

.grid-item-document {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 40px 30px 40px 30px; */

  font-size: 30px;
  text-decoration: none;

  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 14px;
  color: #27313c;
  letter-spacing: 0px;
  line-height: 19px;
}
