.grid-container {
  display: grid;
  grid-gap: 5px 5px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  background-color: white;
  padding: 0px;
}

.grid-item {
  background-color: #0074bd;
  padding: 55px;
  font-size: 30px;
  text-align: center;
}
