@import "../scss/Common.module.scss";

.viewmore {
  text-decoration: none;
  margin-top: 20px;

  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 14px;
  color: #0074bd;
  letter-spacing: 0px;
  line-height: 19px;
}
