.viewmore {
  text-decoration: none;
  margin-top: 20px;

  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 14px;
  color: #0074bd;
  letter-spacing: 0px;
  line-height: 19px;
}

.thumbTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.thumbImg {
  margin: 0px 5px 0px 5px;
}
