@import "../../../common/scss/_Common.module.scss";

.documentGridContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px 5px;
  padding: 20px;
  margin-top: -40px;
  /* background-color: white; */
}

.documentGridItem {
  @include textStyle("Segoe UI", 600, 14px, #27313c, 0px, 19px);
}
.thumbTitle {
  margin-bottom: 20px;
}
.documentTitle {
  margin-right: 10px;
  text-decoration: none;
  @include textStyle("Segoe UI", 400, 14px, #27313c, 0px, 19px);
}
@media screen and (max-width: 530px) {
  .documentGridContainer {
    grid-template-columns: auto;
  }
}
