img {
  margin: 10px 50px 20px 20px;
  border: solid black 2px;
}

.border {
  padding: 0px 0px 0px 0px;
}

.head {
  padding: 100px 0px 100px 100px;
  width: 600px;
}

.bg {
  background-color: #dbb883;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: white;

  padding: 10px;
  max-width: 390px;
  margin-left: max(20px, calc((100% - 2 * 20px - 1 * (390px + 10px)) / 2));
  margin-right: max(20px, calc((100% - 2 * 20px - 1 * (390px + 10px)) / 2));

  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.select {
  text-align: right;
  padding: 20px 15px 20px 15px;
  font-size: large;
}
hr {
  /* height: 1px; */
  /* background-color: black; */
  /* border-width: 0; */
  border: 1px solid black;
}
.theme_class {
  color: black;
}
@media (min-width: 915px) {
  .card {
    width: 390px;
    margin-left: max(20px, calc((100% - 2 * 20px - 2 * (390px + 10px)) / 4));
    margin-right: max(20px, calc((100% - 2 * 20px - 2 * (390px + 10px)) / 4));
  }
}

@media (min-width: 1360px) {
  .card {
    width: 390px;
    margin-left: max(20px, calc((100% - 2 * 20px - 3 * (390px + 10px)) / 6));
    margin-right: max(20px, calc((100% - 2 * 20px - 3 * (390px + 10px)) / 6));
  }
}
