@import "../../../common/scss/_Common.module.scss";

.eventDay {
  @include textStyle("Segoe UI", 600, 26px, #4ac49a, 0px, 5px);
  margin-bottom: 5px;
}

.eventMonth {
  @include textStyle("Segoe UI", 400, 16px, #4ac49a, 0px, 5px);
}

.eventGridContainer {
  display: grid;
  grid-gap: 10px 10px;
  // grid-template-columns: 80px min(327px, calc(100% - 90px));
  // grid-template-columns: 80px 327px;
  grid-template-columns: 80px auto;
  grid-auto-rows: 80px;
  justify-items: stretch;
  align-items: stretch;
  margin-bottom: 20px;
}

.eventGridItem:nth-child(2n) {
  background-color: #d6f3e9;
  padding-left: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.eventGridItem:nth-child(2n) > div {
  margin-top: -20px;
}
.eventGridItem:nth-child(2n + 1) {
  background-color: #ffffff;
  border: 3px solid #4ac49a;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1023px) and (min-width: 700px) {
  .eventGridContainer {
    grid-template-columns: 80px auto 80px auto;
    grid-auto-rows: 80px;
  }
}
@media screen and (max-width: 400px) {
  .eventGridContainer {
    grid-template-columns: 80px 75%;
    grid-auto-rows: 80px;
  }
}
