@mixin textStyle(
  $font-family,
  $font-weight,
  $font-size,
  $color,
  $letter-spacing,
  $line-height
) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

.topic {
  @include textStyle("Segoe UI", 600, 24px, #444444, 0px, 32px);
}

.thumbTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.thumbImg {
  margin: -2px 5px -2px 5px;
}

.postTitle {
  display: inline-block;
  /* Title not split when down size */
  @include textStyle("Segoe UI", 600, 16px, #333333, 0px, 21px);
}

.postTime {
  margin-right: 10px;

  @include textStyle("Segoe UI", 400, 12px, #444444, 0px, 19px);
}

.imgLeft {
  float: left;
  margin: 10px 10px 0px 0px;
}
