.img_align {
  float: left;
  margin: 0px 10px 0px 0px;
}

.tag {
  display: inline-block;
  cursor: pointer;

  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 13px;
  color: #333333;
  letter-spacing: 0px;
  line-height: 17px;

  background-color: #e4e6e8;
  border-radius: 8px;
  padding: 2px 20px 2px 20px;
  /* border: 1px solid transparent; */
}

.title {
  /* display: inline-block; */

  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0px;
  line-height: 21px;
}

.content {
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 13px;
  color: #333333;
  letter-spacing: 0px;
  line-height: 17px;
}
.time {
  display: inline;
  margin-right: 20px;
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 14px;
  color: #444444;
  letter-spacing: 0px;
  line-height: 19px;
}
