@import "../../../common/scss/_Common.module.scss";
.quicklinkGridContainer {
  // --content-width: 100%;
  --content-width: 340px;
  // --content-width: 18vw;

  // The size of the gap
  --gap: 5px;

  // The amount of columns
  --columns: 3;

  $size: calc(
    (var(--content-width) - (var(--gap) * (var(--columns) - 1))) /
      var(--columns)
  );
  // @debug $size;
  display: grid;
  grid-gap: var(--gap) var(--gap);
  grid-template-columns: repeat(var(--columns), $size);
  grid-auto-rows: $size;
}

.quicklinkGridItem {
  background-color: #0074bd;
  padding: 20px 10px 20px 10px;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
}

.linkTitle {
  @include textStyle("NotoSans", 400, 14px, #ffffff, 0px, 18px);
}

@media screen and (max-width: 1023px) {
  .quicklinkGridContainer {
    // --content-width: 50vw;
    grid-template-columns: repeat(auto-fill, minmax(108px, 1fr));
    grid-auto-rows: 108px;
  }
}
